/* Navigation Bar */

body{
	background:#32323a;
}

/*Navigation Bar*/
nav.eco-nav{
	border-radius: 0;
	margin-bottom: 1px;
	background:#32323a;
	border-color: rbga(225, 225, 225, 0.05);
	position: fixed;
	top:0;
	color:#1FB5AD;
	width:100%;
	z-index: 2;
}

nav.eco-nav a{
	color: #1FB5AD;
}

.eco-nav .navbar-nav{
	float:right;
}

.eco-nav .fa{
	font-size: 1.5em;
}

/* Side Bar */

.eco-sidebar{
	position: fixed;
	padding: 0;
	top:50px;
	left: 0px;
	margin:0;
	background: inherit;
}

.eco-sidebar .nav-stacked li{
	margin-top:0;
	border-bottom: 1px solid rgba(255,255,255,0.05)
}

.eco-sidebar .nav-stacked li a{
	color: #aeb2b7;
	font-size: 12px;
}

.eco-sidebar li a i {
	font-size: 15px;
	padding-right: 6px;
}

div.eco-sidebar li a.active, div.eco-sidebar li a:hover, div.eco-sidebar li a:focus {
	background: #28282e;
	color: #1FB5AD;
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.eco-main-view{
	background: #f1f2f7;
	height: 100%;
	min-height: 1000px;
	border-left:1px solid #e7e7e7;
	padding: 20px 35px 10px 20px;
	margin-left:250px;
	margin-top:50px;
	min-height: 1500px;
}

.eco-main-view h1{
	border-bottom: 1px solid #F0F0F0;
	margin:0 0 20px;
	padding-bottom: 5px;
}

/*Colors*/
.red{
	color:red;
}

.blue{
	color:blue;
}

/*Gage widget*/
.GageWidget .panel-body{
	padding:0px 15px;
}
.GageWidget .gage{
	width:220px;
	height:170px;
	margin-top:-35px;
}

/* General widget styles */
.EcoWidget .panel-body{
	text-align: center;
	min-height: 130px;
}

.EcoWidget.LargeIcon i{
	font-size: 7em;
}

.EcoWidget .vertical-center{
	line-height: 60px;
}

.EcoWidget .panel-heading{
	background-color: #fafafa;
	border-color: #eff2f7;
	font-size: 13px;
	background: #fafafa;
	text-transform: uppercase;
	padding: 15px;
	color:#767676;
text-align: center;
}

.chart svg{
	height:300px;
}

h1.page-header{
	color:#1FB5AD;
	text-transform: uppercase;
	font-size: 1.5em;
	margin:10px 0;
}

