/*ECO ROBOT  WIDGET*/
.EcoRobotWidget .panel-body{
	position: relative;
	height: 480px;
	background:url('../../assets/Eco.jpg') top center no-repeat;
}

.EcoRobotWidget .sensor{
	position: absolute;
	font-size: 0.8em;
}

.EcoRobotWidget .sensor1{top:30px;left:410px;}
.EcoRobotWidget .sensor2{top:90px;right:260px;}
.EcoRobotWidget .sensor3{top:220px;right:200px;}
.EcoRobotWidget .sensor4{top:355px;right:255px;}
.EcoRobotWidget .sensor5{top:415px;right:405px;}
.EcoRobotWidget .sensor6{top:355px;left:255px;}
.EcoRobotWidget .sensor7{top:220px;left:200px;}
.EcoRobotWidget .sensor8{top:90px;left:255px;}