/*ECO ROBOT  WIDGET*/
.EcoRobotWidget .panel-body{
	position: relative;
	height: 480px;
}

.EcoRobotWidget .sensor{
	position: absolute;
	font-size: 0.8em;
}

.EcoRobotWidget .panel-body{
	 -webkit-transition: all 1s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out;
}

.EcoRobotWidget img{
	position: absolute;
	top:45px;
	left:225px;
}

.EcoRobotWidget .sensor1{top:30px;left:400px;}
.EcoRobotWidget .sensor2{top:90px;right:260px;}
.EcoRobotWidget .sensor3{top:220px;right:200px;}
.EcoRobotWidget .sensor4{top:355px;right:255px;}
.EcoRobotWidget .sensor5{top:425px;right:405px;}
.EcoRobotWidget .sensor6{top:360px;left:255px;}
.EcoRobotWidget .sensor7{top:225px;left:180px;}
.EcoRobotWidget .sensor8{top:90px;left:245px;}