<h1 class="col-md-12 clearfix page-header">Historic Charts</h1>


<div class="col-md-12 EcoWidget LineGraph">
	<div class="panel panel-default">
		<div class="panel-heading">Temperature - This Week</div>
		<div class="panel-body">
			<div 
				eco-line-graph 
				id="tempThisWeekGraph"
				class='chart'
				no-data="Making request to get data..."
				axis-x-label="Time (H:M:S)"
				axis-y-label="Temperature"
				key="Temperature"/>
		</div>
	</div>
</div>

<div class="col-md-12 EcoWidget LineGraph">
	<div class="panel panel-default">
		<div class="panel-heading">Light - This Week</div>
		<div class="panel-body">
			<div 
				eco-line-graph 
				id="lightThisWeekGraph"
				class='chart'
				no-data="Making request to get data..."
				axis-x-label="Time (H:M:S)"
				axis-y-label="Light"
				max="15"
				line-color='#d6dd18'
				key="Light"/>
		</div>
	</div>
</div>


<div class="col-md-12 EcoWidget LineGraph">
	<div class="panel panel-default">
		<div class="panel-heading">Carbon - This Week</div>
		<div class="panel-body">
			<div 
				eco-line-graph 
				id="carbonThisWeekGraph"
				class='chart'
				no-data="Making request to get data..."
				axis-x-label="Time (H:M:S)"
				axis-y-label="Carbon"
				max="1000"
				line-color='#9d7b67'
				key="Carbon"/>
		</div>
	</div>
</div>


